@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Lora", serif;
  font-weight: 400; }

/* Cuerpo de pagina*/
.formulario__contacto {
  background-color: rgba(152, 135, 120, 0.8);
  width: 350px;
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 20px 35px 50px #000;
  margin: auto; }

.formulario__reservas {
  background-color: rgba(152, 135, 120, 0.8);
  width: 350px;
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 20px 35px 50px #000;
  margin: auto; }

.promociones {
  margin: auto;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.horarios {
  margin: auto;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.horarios__informacion {
  width: 320px;
  height: 400px;
  background-color: rgba(152, 135, 120, 0.8);
  border-top: 2px solid black;
  border-radius: 10px;
  border-bottom: 2px solid black; }

.promociones__informacion {
  width: 320px;
  height: 400px;
  background-color: rgba(152, 135, 120, 0.8);
  border-top: 2px solid black;
  border-radius: 10px;
  border-bottom: 2px solid black; }

.header__redes--instagram {
  width: 50px; }
  .header__redes--instagram:hover {
    transform: scale(1.1); }

.header__redes--facebook {
  width: 50px; }
  .header__redes--facebook:hover {
    transform: scale(1.1); }

.header__redes--whatsapp {
  width: 50px; }
  .header__redes--whatsapp:hover {
    transform: scale(1.1); }

.formulario__parrafo--fontsize {
  font-size: 0.8rem; }

.formulario__contacto--fontsize {
  font-size: 0.7rem; }

.formulario__reservas--fontsize {
  font-size: 0.7rem; }

.header__redes--instagram {
  grid-area: ig; }

.header__redes--whatsapp {
  grid-area: wp; }

.header__redes--facebook {
  grid-area: fb; }

.claro {
  color: white;
  text-shadow: 1px 1px 2px black; }

.oscuro {
  color: black;
  text-shadow: 1px 1px 2px black; }

.semioscuro {
  color: darkgrey;
  text-shadow: 1px 1px 2px black; }

.cartas__banner--naranja {
  background-color: #ea6348; }

.cartas__banner--amarillo {
  background-color: #ffcc00; }

.cartas__banner--azul {
  background-color: #70a1d6; }

#index {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#reservas {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#barriles {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#eventos {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#galeria {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

#contacto {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px); }

/*Formato del section*/
#section {
  align-self: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: center;
  height: calc(100vh - 100px); }

#index {
  background-image: url(../images/index/repeat.jpg);
  background-size: contain;
  background-repeat: repeat; }

/*Presentacion Index*/
.articulo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 100px; }

.historia {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px); }
  .historia .historia__contenedor {
    align-self: center;
    background-color: rgba(152, 135, 120, 0.8);
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 320px; }
    .historia .historia__contenedor .historia__contenedor--titulo {
      font-size: 2rem;
      text-align: center;
      color: #fff; }
      @media all and (max-width: 576px) {
        .historia .historia__contenedor .historia__contenedor--titulo {
          font-size: 1rem; } }
    .historia .historia__contenedor .historia__contenedor--separador {
      margin: auto;
      width: 80%;
      height: 2px;
      background-color: #000;
      margin-bottom: 5px; }
    .historia .historia__contenedor .historia__contenedor--parrafo {
      color: #fff;
      align-self: center;
      font-size: 0.8rem; }
      @media all and (max-width: 576px) {
        .historia .historia__contenedor .historia__contenedor--parrafo {
          font-size: 0.8rem; } }

.promociones .promociones__informacion .promociones__informacion--tamaño {
  width: 320px; }

.promociones .promociones__informacion .promociones__informacion--centrado {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700; }

.horarios .horarios__informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .horarios .horarios__informacion .horarios__informacion--centrado {
    text-align: center; }
  .horarios .horarios__informacion .horarios__informacion--margin {
    margin: 15px 0 0 0; }

#reservas {
  background-image: url(../images/reservas/reservas.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#contacto {
  background-image: url(../images/contacto/contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/* Formulario - Contacto y Reservas */
.formulario {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; }
  .formulario .formulario__contacto .formulario__contacto--posicion {
    padding: 10px;
    width: 100%; }
  .formulario .formulario__contacto .formulario__contacto--textarea {
    width: 100%;
    height: 70px;
    resize: none; }
  .formulario .formulario__contacto .formulario__contacto--fontsize {
    text-align: center;
    margin: 0; }
  .formulario .formulario__contacto .formulario__contacto--width {
    width: 100%; }
  .formulario .formulario__reservas .formulario__reservas--posicion {
    padding: 10px;
    width: 100%; }
  .formulario .formulario__reservas .formulario__reservas--fontsize {
    text-align: center;
    margin: 0; }
  .formulario .formulario__reservas .formulario__reservas--center {
    text-align: center; }
    .formulario .formulario__reservas .formulario__reservas--center p {
      font-size: 0.7rem;
      margin: 0; }
  .formulario .formulario__reservas .formulario__reservas--width {
    width: 100%; }

#menu {
  background-image: url(../images/menu/menu.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Carta de comidas - Menú*/
.cartas {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; }
  .cartas .cartas__banner {
    width: 100%;
    max-height: 50px;
    color: #fff;
    transition: max-height 0.5s ease-in-out;
    transition-delay: 0.3s; }
    .cartas .cartas__banner:hover {
      max-height: 400px; }
  .cartas .cartas__banner--icono {
    margin-left: 0;
    height: 50px;
    width: 50px; }
  .cartas .cartas__banner--hidden {
    overflow: hidden; }
  .cartas .cartas__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "producto producto"; }
    @media all and (max-width: 768px) {
      .cartas .cartas__contenido p {
        font-size: 0.8rem; }
      .cartas .cartas__contenido li {
        font-size: 0.7rem; } }
    .cartas .cartas__contenido li {
      font-family: "Cabin Sketch", cursive;
      font-weight: 700;
      letter-spacing: 0.2rem;
      color: #000;
      font-size: 0.7rem; }
      .cartas .cartas__contenido li p {
        width: 100%;
        font-size: 0.6rem;
        font-weight: 400;
        letter-spacing: 0rem; }
    .cartas .cartas__contenido .cartas__contenido--producto {
      grid-area: "producto"; }

#barriles {
  background-image: url(../images/barriles/barrilito.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Alquiler de barriles*/
.alquiler {
  margin: auto 0;
  background-image: url(../images/barriles/bg.jpg);
  background-repeat: repeat;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 0px 15px #000; }
  .alquiler .alquiler__titulo {
    font-size: 2.5rem; }
  .alquiler .alquiler__descripcion {
    font-size: 1.5rem; }
  .alquiler .alquiler__contacto {
    text-decoration: none;
    text-decoration: underline;
    color: #808080; }
  .alquiler .alquiler__informacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .alquiler .alquiler__informacion .alquiler__informacion--tipos {
      width: 320px; }

#eventos {
  background-image: url(../images/eventos/eventos.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Imagenes - Eventos*/
.eventos {
  width: 28vw;
  transition: all 0.5s ease-out;
  border-radius: 2%; }
  .eventos :focus {
    transform: scale(1.5); }

.modal-body {
  padding: 0;
  border: inherit; }
  .modal-body .texto {
    position: absolute;
    top: 0;
    left: 18px;
    font-weight: 700; }
  .modal-body .datos {
    position: absolute;
    margin-top: 5px;
    top: 20px;
    left: 18px;
    text-align: left;
    line-height: 20px; }
  .modal-body .coder {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 1.20rem;
    font-weight: 700; }

.modal-content {
  background-color: inherit;
  border: inherit; }

.boton {
  border-style: none; }
  .boton :hover {
    transform: scale(1.5); }

button:focus {
  outline: none; }

#galeria {
  background-image: url(../images/galeria/galeria.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Slide de imagenes - Galeria*/
.carousel-size {
  width: 600px; }
  @media all and (max-width: 768px) {
    .carousel-size {
      width: 100%; } }

.carousel-position {
  align-self: center;
  margin: 50px auto;
  font-weight: 700; }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.carousel__opiniones {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-content: center;
  background-color: rgba(120, 120, 120, 0.7);
  box-shadow: 5px 0px 15px #000; }
  .carousel__opiniones p {
    font-size: 0.8rem; }
  .carousel__opiniones .carousel__opiniones--elemento {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    color: #fff;
    text-align: center; }
  .carousel__opiniones .carousel__opiniones--ciudad {
    margin-bottom: 0px; }
  .carousel__opiniones .carousel__opiniones--fuente {
    margin-top: 0; }

.header {
  position: relative;
  align-self: start;
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, #411d0f, #4b3621);
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .header .header__titulo {
    display: flex;
    justify-content: center;
    align-self: center;
    text-shadow: black 3px 4px; }
  .header .header__titulo--nodecoration {
    text-decoration: none; }
  .header .header__titulo--decoration {
    margin: 0;
    color: #7f7f7f;
    font-family: "Stint Ultra Condensed", cursive;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation-name: titulo;
    animation-duration: 0.3s; }

@keyframes titulo {
  0% {
    transform: rotatey(90deg); } }
  .header .header__redes {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-areas: "seguinos ig wp fb";
    grid-template-columns: 150px repeat(3, 50px);
    grid-template-rows: 50px;
    overflow: hidden; }
    .header .header__redes .header__redes--seguinos {
      grid-area: seguinos;
      width: 150px; }
      @media all and (max-width: 768px) {
        .header .header__redes .header__redes--seguinos {
          display: none; } }
    .header .header__redes .header__redes--transform {
      transition: transform 0.2s ease-in-out; }
    .header .header__redes .header__titulo--ulsize {
      height: 50px;
      width: 150px; }
    @media all and (max-width: 768px) {
      .header .header__redes {
        grid-template-columns: repeat(3, 50px); } }
    @media all and (max-width: 576px) {
      .header .header__redes {
        display: none; } }

/*Formato del footer*/
#footer {
  position: sticky;
  bottom: 0;
  width: 100%; }

/*Nav Web*/
.navegacion {
  background: linear-gradient(to bottom, #411d0f, #4b3621);
  width: 100%;
  height: 50px;
  overflow: hidden; }
  .navegacion .navegacion__ul--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
  .navegacion .navegacion__li--transition {
    padding: 0 10px;
    transition: transform 0.2s ease-in-out; }
    @media all and (max-width: 576px) {
      .navegacion .navegacion__li--transition {
        padding: 10px 5px; } }
    .navegacion .navegacion__li--transition:hover {
      transform: scale(1.1); }
  .navegacion .navegacion__link--decoration {
    text-decoration: none;
    font-size: 2rem;
    color: #bbbbbb;
    font-family: "Stint Ultra Condensed", cursive;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: black 0 -2px; }
    @media all and (max-width: 576px) {
      .navegacion .navegacion__link--decoration {
        font-size: 1.2rem;
        font-weight: 400; } }
  .navegacion .navegacion__separadores {
    width: 2px;
    height: 10px;
    background-color: #bbbbbb; }

.gradiente-inversa {
  background: linear-gradient(to bottom, #4b3621, #411d0f);
  min-height: 50px; }

.nav-decoration {
  color: rgba(0, 0, 0, 0.8) !important; }
