#footer{
	width:100%;
	margin-bottom: 100px;
}
.navegacion{
	background: linear-gradient(to bottom, rgb(65,29,15), rgb(75,54,33));
	width: 100%;
	height:50px;
	overflow: hidden;
	.navegacion__ul--center{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}
	.navegacion__li--transition{
		padding: 0 10px;
		transition: transform 0.2s ease-in-out;
		@media all and (max-width: 576px){
			padding: 10px 5px;
		}
		&:hover{
			transform: scale(1.1);
		}
	}
	.navegacion__link--decoration{
		text-decoration: none;
		font-size: 2rem;
		color: $navegacion;
		font-family: $fuente-primaria;
		font-weight: $fuente-light;
		letter-spacing: 2px;
		text-shadow: black 0 -2px;
		@media all and (max-width: 576px){
			font-size: 1.2rem;
			font-weight: 400;
		}
	}
	.navegacion__separadores{
		width:2px;
		height:10px;
		background-color: #bbbbbb;
	}
}

.gradiente-inversa{
	background: linear-gradient(to bottom, rgb(75,54,33),rgb(65,29,15));
	min-height:50px;
}
