/*Formato del section*/
#section{
	align-self:center;
	position: relative;
	width:100%;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	text-align:center;
	height: calc(100vh - 100px);
	@media all and (max-width: 576px){
		overflow:auto;
	}
}

/*Imagenes - Eventos*/
.imagenes{
	position: relative;
	width:100%;
	height: calc(100vh - 100px);
	overflow: auto;
	overflow-x: hidden;
	.imagenes__img--flex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;

	}
	.imagenes__img--posicion{
		margin-top: 50px;
		margin-bottom: 50px;
		max-width: 400px;
		min-width: 320px;
		max-height: 400px;
		border-radius: 5%;
		box-shadow: -8px 5px 20px black;
		animation-name:imagenes;
		animation-duration:1.5s;
		@media all and (min-width:768px){
			&:hover{
				transform: scale(1.5);
			}
		}
		@keyframes imagenes{
			0%{
				transform: translate(2px, 20%);
			}
		}
	}
}


/*Presentacion Index*/
.historia{
	align-self: center;
	position:relative;
	display:flex;
	flex-wrap: wrap;
	width:100%;
	height:calc(100vh - 100px);
	flex-direction:column;
	justify-content:center;
	.historia__contenedor{
		align-self:center;
		background-color:$background-forms;
		padding:10px 20px 30px 20px; 
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		max-width:400px;
		min-width:320px;
	}
	.historia__contenedor--titulo{
		font-size:2rem;
		text-align:center;
		color:white;
		@media all and (max-width: 576px){
			font-size:1rem;
		}
	}
	.historia__contenedor--separador{
		margin: auto;
		width:80%;
		height:2px;
		background-color:black;
		margin-bottom: 5px;
	}
	.historia__contenedor--parrafo{
		color:white;
		align-self:center;
		font-size:0.8rem;
		@media all and (max-width: 576px){
			font-size:0.8rem;
		}
	}
	.historia__contenedor--horarios{
		@media all and (max-width: 576px){
			display: none;
		}
	}
}

.boton-1{
	bottom: 0;
}
.boton-2{
	top:calc(100vh - 100px);
}
.boton-3{
	bottom: calc(-100vh + 100px);
}
.boton-4{
	top: calc(200vh - 200px);
}

.promociones{
	.promociones__informacion{
	}
	.promociones__informacion--tamaño{
		width:320px;
	}
	.promociones__informacion--centrado{
		text-align: center;
		font-size:0.8rem;
		font-weight:$fuente-bold;
	}
}
.horarios{
	.horarios__informacion{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	.horarios__informacion--centrado{
		text-align:center;
	}
	.horarios__informacion--margin{
		margin:15px 0 0 0;
	}
}
/* Formulario - Contacto y Reservas */
.formulario{
	position: relative;
	width: 100%;
	height:calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:auto;
	
	.formulario__contacto--posicion{
		padding: 10px;
		width: 100%;
	}
	.formulario__contacto--textarea{
		width:100%;
		height:70px;
		resize: none;
	}
	.formulario__parrafo--fontsize{
		text-align: center;
	}
	.formulario__contacto--fontsize{
		text-align: center;
		margin:0;
	}
	.formulario__contacto--width{
		width:100%;
	}
	
	.formulario__reservas--posicion{
		padding: 10px;
		width: 100%;
	}
	.formulario__reservas--fontsize{
		text-align: center;
		margin:0;
	}
	.formulario__reservas--center{
		text-align: center;
		p{
			font-size: 0.7rem;
			margin:0;
		}
	}
	.formulario__reservas--width{
		width:100%;
	}
}
.carousel-size{
	width: 600px;
	@media all and (max-width:768px){
		transform:scale(0.9);
		width:100%;
	}

}
/*Slide de imagenes - Galeria*/
.carousel-position{
	align-self:center;
	margin: 50px auto;
	font-weight:bold;
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius:100%;
}

/*Carta de comidas - Menú*/
.cartas{
	margin:auto;
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	.cartas__banner{
		width:100%;
		max-height: 50px;
		color: white;
		transition:max-height 0.5s ease-in-out;
		transition-delay: 0.3s;
		&:hover{
			max-height: 400px;
		}
	}
	.cartas__banner--icono{
		margin-left:0;
		height: 50px;
		width:50px;
	}
	.cartas__banner--hidden{
		overflow:hidden;
	}
	.cartas__contenido{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"producto producto";
		@media all and (max-width:768px){
			p{
				font-size: 0.8rem;
			}
			li{
				font-size:0.7rem;
			}
		}
		li{
			font-family: $fuente-terciaria;
			font-weight:$fuente-bold;
			letter-spacing:0.2rem;
			color: black;
			font-size:0.7rem;
		}
		p{
			width:100%;
			font-size:0.6rem;
			font-weight:$fuente-light;
			letter-spacing:0rem;
		}
	}

	.cartas__contenido--producto{
		grid-area:"producto";
	}
}



