/*Formato del section*/
#section{
	align-self:center;
	position: relative;
	width:100%;
	display:flex;
	flex-direction:column;
	overflow-y:auto;
	text-align:center;
	height: calc(100vh - 100px);
}

@import "pages/index";
@import "pages/formularios";
@import "pages/menu";
@import "pages/barriles";
@import "pages/eventos";
@import "pages/galeria";








