$titulo:rgb(127,127,127);
$navegacion:rgb(187, 187, 187);
$boton:rgba(180,164,159,0.80);
$boton-hover:rgba(196,196,196,0.80);
$texto-primario:#000;
$texto-secundario:#ccc;
$fuente-primaria:'Stint Ultra Condensed', cursive;
$fuente-secundaria:'Lora', serif;
$fuente-terciaria:'Cabin Sketch', cursive;;
$fuente-light:400;
$fuente-bold:700;
$background-forms:rgba(168,112,63,0.80);
$size-p:0.6rem;