#menu{
	background-image:url(../images/menu/menu.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
}

/*Carta de comidas - Menú*/
.cartas{
	margin:auto;
	width:100%;
	.cartas__banner--boton{
	  	border: none;
	}
	.cartas__banner--icono{
		width:50px;
	}
	.cartas__contenido{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		li{
			font-family: $fuente-terciaria;
			font-weight:$fuente-bold;
			letter-spacing:0.2rem;
			color: #000;
			font-size:0.7rem;
			p{
				width:100%;
				font-size:0.6rem;
				font-weight:$fuente-light;
				letter-spacing:0rem;
			}
		}
	}	
}


