#menu{
	background-image:url(../images/menu/menu.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
}

/*Carta de comidas - Menú*/
.cartas{
	margin:auto;
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	.cartas__banner{
		width:100%;
		max-height: 50px;
		color: #fff;
		transition:max-height 0.5s ease-in-out;
		transition-delay: 0.3s;
		&:hover{
			max-height: 400px;
		}
	}
	.cartas__banner--icono{
		margin-left:0;
		height: 50px;
		width:50px;
	}
	.cartas__banner--hidden{
		overflow:hidden;
	}
	.cartas__contenido{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"producto producto";
		@media all and (max-width:768px){
			p{
				font-size: 0.8rem;
			}
			li{
				font-size:0.7rem;
			}
		}
		li{
			font-family: $fuente-terciaria;
			font-weight:$fuente-bold;
			letter-spacing:0.2rem;
			color: #000;
			font-size:0.7rem;
			p{
				width:100%;
				font-size:0.6rem;
				font-weight:$fuente-light;
				letter-spacing:0rem;
			}
		}
		.cartas__contenido--producto{
			grid-area:"producto";
		}
	}	
}